Repository migtools/mig-controller, pull requests merged in 2019-11, with the labels that each got.

#254 High level discussion of the StorageClass change feature
  docs/design/storageclass-change.md
Labels: docs

#364 For reporting accessmode support, match glusterblock by prefix
  pkg/controller/migcluster/storageclass.go
Labels: 4.2.x/1.0.1

#363 Add s3CustomCABundle to migstorage crd schema
  config/crds/migration_v1alpha1_migstorage.yaml
Labels: 4.2.x/1.0.1

#372 add azure support for SnapshotCreationTimeout
  pkg/apis/migration/v1alpha1/migstorage_types.go
  pkg/cloudprovider/azure.go
Labels: 4.2.x/1.0.1

#324 Add pod health check during validation
  pkg/apis/migration/v1alpha1/migplan_types.go
  pkg/apis/migration/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/migplan/validation.go
Labels: 4.3/1.1.0
