Repository migtools/mig-controller, pull requests merged in 2020-04, with the labels that each got.

#464 Exclude incompatible resources on restore
  pkg/apis/migration/v1alpha1/gvk.go
  pkg/controller/migmigration/restore.go
Labels: enhancement, release-1.2.0

#487 Fix observed-digest on OCP4.
  pkg/apis/migration/v1alpha1/resource.go
Labels: bug, release-1.2.0

#489 Support both ALL and ANY flags.
  pkg/controller/migmigration/task.go
Labels: release-1.2.0

#458 App backscaling on demand
  config/crds/migration_v1alpha1_migmigration.yaml
  pkg/apis/migration/v1alpha1/gvk.go
  pkg/apis/migration/v1alpha1/labels.go
  pkg/apis/migration/v1alpha1/migmigration_types.go
  pkg/apis/migration/v1alpha1/model.go
  pkg/compat/client.go
  pkg/controller/migmigration/annotation.go
  pkg/controller/migmigration/migmigration_controller_test.go
  pkg/controller/migmigration/migrate.go
  pkg/controller/migmigration/quiesce.go
  pkg/controller/migmigration/restore.go
  pkg/controller/migmigration/task.go
  pkg/controller/migplan/gvk.go
  pkg/gvk/gvk.go
Labels: enhancement

#448 Add Hook Support
  Gopkg.lock
  config/crds/migration_v1alpha1_mighook.yaml
  config/crds/migration_v1alpha1_migplan.yaml
  pkg/apis/migration/v1alpha1/mighook_types.go
  pkg/apis/migration/v1alpha1/mighook_types_test.go
  pkg/apis/migration/v1alpha1/migplan_types.go
  pkg/apis/migration/v1alpha1/model.go
  pkg/apis/migration/v1alpha1/resource.go
  pkg/apis/migration/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/controller.go
  pkg/controller/mighook/mighook_controller.go
  pkg/controller/mighook/mighook_controller_suite_test.go
  pkg/controller/mighook/mighook_controller_test.go
  pkg/controller/mighook/predicate.go
  pkg/controller/mighook/regexp.go
  pkg/controller/mighook/validation.go
  pkg/controller/migmigration/hooks.go
  pkg/controller/migmigration/task.go
  pkg/controller/migplan/validation.go
  pkg/controller/remotewatcher/predicate.go
  pkg/controller/remotewatcher/remotewatcher_controller.go
Labels: release-1.2.0, update-operator

#496 Fix disappearing GVK condition
  pkg/controller/migplan/gvk.go
Labels: bug, release-1.2.0

#478 Update migplan controller to take in identity secret
  config/crds/migration_v1alpha1_migplan.yaml
  docs/design/cam-non-admin-design.md
  pkg/apis/migration/v1alpha1/migcluster_types.go
  pkg/apis/migration/v1alpha1/migplan_types.go
  pkg/apis/migration/v1alpha1/zz_generated.deepcopy.go
  pkg/auth/identity.go
  pkg/controller/migplan/validation.go
Labels: non-admin, release-1.3.0, update-operator

#498 Revert "Revert "App backscaling on demand (#458)" (#497)"
  config/crds/migration_v1alpha1_migmigration.yaml
  pkg/apis/migration/v1alpha1/gvk.go
  pkg/apis/migration/v1alpha1/labels.go
  pkg/apis/migration/v1alpha1/migmigration_types.go
  pkg/apis/migration/v1alpha1/model.go
  pkg/compat/client.go
  pkg/controller/migmigration/annotation.go
  pkg/controller/migmigration/migmigration_controller_test.go
  pkg/controller/migmigration/migrate.go
  pkg/controller/migmigration/quiesce.go
  pkg/controller/migmigration/restore.go
  pkg/controller/migmigration/task.go
  pkg/controller/migplan/gvk.go
  pkg/gvk/gvk.go
Labels: release-1.2.0, update-operator

#508 Add periodic labeler
  .github/labeler.yml
  .github/workflows/periodic-labeler.yml
Labels: enhancement

#505 compat.NewClient returns Client interface, refactor
  pkg/apis/migration/v1alpha1/migcluster_types.go
  pkg/compat/client.go
  pkg/controller/migmigration/annotation.go
  pkg/controller/migmigration/restore.go
  pkg/controller/migmigration/task.go
  pkg/controller/migplan/gvk.go
  pkg/gvk/gvk.go
Labels: release-1.2.0

#488 Allow the mig resource controllers to watch a specific namespace
  pkg/apis/migration/v1alpha1/resource.go
  pkg/controller/controller.go
  pkg/controller/migcluster/predicate.go
  pkg/controller/migmigration/predicate.go
  pkg/controller/migplan/predicate.go
  pkg/controller/migstorage/predicate.go
  pkg/settings/namespace.go
  pkg/settings/proxy.go
  pkg/settings/role.go
  pkg/settings/settings.go
Labels: non-admin, release-1.3.0

#494 Pre-create the namespaces to be migrated on the destination cluster
  pkg/apis/migration/v1alpha1/migplan_types.go
  pkg/auth/identity.go
  pkg/controller/migmigration/restore.go
  pkg/controller/migmigration/task.go
Labels: non-admin, release-1.3.0

#510 Bug 1824395: Warn for no-op stage migrations
  pkg/controller/migmigration/task.go
  pkg/controller/migmigration/validation.go
Labels: bug, release-1.2.0

#511 Add Authorization step to task itinerary
  pkg/controller/migmigration/authorization.go
  pkg/controller/migmigration/migmigration_controller_test.go
  pkg/controller/migmigration/task.go
Labels: non-admin, release-1.3.0

#515 Bug 1828428 - Return false from GetDisableSSL if the S3 url is empty
  pkg/cloudprovider/aws.go
  pkg/cloudprovider/aws_test.go
Labels: bug
