Repository migtools/mig-controller, pull requests merged in 2020-09, with the labels that each got.

#654 Bug 1874635: Update annotations and labels for snapshot PV/PVC plugin
  pkg/controller/migmigration/annotation.go
  pkg/controller/migmigration/migrate.go
Labels: bug

#659 Registering pprof http handler
  cmd/manager/main.go
Labels: update-operator

#668 Don't recalculate analytics and duplicate results on controller restart
  pkg/controller/miganalytic/miganalytics_controller.go
Labels: release-1.3.0

#667 Add AGE to printer columns
  config/crds/migration_v1alpha1_miganalytic.yaml
  config/crds/migration_v1alpha1_migcluster.yaml
  config/crds/migration_v1alpha1_mighook.yaml
  config/crds/migration_v1alpha1_migmigration.yaml
  config/crds/migration_v1alpha1_migplan.yaml
  config/crds/migration_v1alpha1_migstorage.yaml
  pkg/apis/migration/v1alpha1/miganalytic_types.go
  pkg/apis/migration/v1alpha1/migcluster_types.go
  pkg/apis/migration/v1alpha1/mighook_types.go
  pkg/apis/migration/v1alpha1/migmigration_types.go
  pkg/apis/migration/v1alpha1/migplan_types.go
  pkg/apis/migration/v1alpha1/migstorage_types.go
Labels: update-operator

#671 Bug 1879276: Fix empty controllers listed in plan pods report.
  pkg/controller/discovery/model/table.go
Labels: bug, release-1.3.0

#672 Bug 1879455: Fix swapped pod/pvc count in namespace listing.
  pkg/controller/discovery/web/ns.go
Labels: bug, release-1.3.0

#673 Move storageclass-change.md over to enhancements repo
  docs/design/storageclass-change.md
Labels: docs

#689 Add CABundle help text when X509 error detected
  pkg/controller/migcluster/validation.go
Labels: bug
