Repository migtools/mig-controller, pull requests merged in 2020-12, with the labels that each got.

#849 remove old CRD's and regenerate
  Makefile
  config/crds/migration.openshift.io_directvolumemigrationprogresses.yaml
  config/crds/migration.openshift.io_directvolumemigrations.yaml
  config/crds/migration.openshift.io_migmigrations.yaml
  config/crds/migration_v1alpha1_directvolumemigration.yaml
  config/crds/migration_v1alpha1_directvolumemigrationprogress.yaml
  config/crds/migration_v1alpha1_migmigration.yaml
  config/migration.openshift.io_directimagemigrations.yaml
  config/migration.openshift.io_directimagestreammigrations.yaml
  config/migration.openshift.io_directvolumemigrationprogresses.yaml
  config/migration.openshift.io_directvolumemigrations.yaml
  config/migration.openshift.io_miganalytics.yaml
  config/migration.openshift.io_migclusters.yaml
  config/migration.openshift.io_mighooks.yaml
  config/migration.openshift.io_migmigrations.yaml
  config/migration.openshift.io_migplans.yaml
  config/migration.openshift.io_migstorages.yaml
Labels: update-operator

#854 Fix go mod builds
  Dockerfile
Labels: bug, release-1.4.0

#856 fixed CRD for migmigration to make sure step started/completed appear
  config/crds/migration.openshift.io_migmigrations.yaml
  pkg/apis/migration/v1alpha1/migmigration_types.go
Labels: update-operator

#858 update CamRole to MtcRole
  pkg/controller/controller.go
  pkg/settings/settings.go
Labels: release-1.4.0, update-operator

#855 progress reporting for Direct Image Migration
  config/crds/migration.openshift.io_directimagemigrations.yaml
  pkg/apis/migration/v1alpha1/directimagemigration_types.go
  pkg/apis/migration/v1alpha1/zz_generated.deepcopy.go
  pkg/compat/conversion/appsv1/zz_conversion_generated.go
  pkg/compat/conversion/batchv1beta/zz_conversion_generated.go
  pkg/compat/conversion/extv1beta1/zz_conversion_generated.go
  pkg/controller/directimagemigration/imagestream.go
  pkg/controller/directimagemigration/task.go
  pkg/controller/migmigration/description.go
  pkg/controller/migmigration/task.go
Labels: update-operator

#861 Bug 1907785 - Support configurable rsync transfer image
  pkg/apis/migration/v1alpha1/migcluster_types.go
  pkg/controller/directvolumemigration/rsync.go
  pkg/controller/directvolumemigration/stunnel.go
Labels: release-1.4.0, update-operator
