Repository migtools/mig-controller, pull requests merged in 2020-02, with the labels that each got.

#375 Test NFS accessibility.
  pkg/apis/migration/v1alpha1/migplan_types.go
  pkg/apis/migration/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/migplan/migplan_controller.go
  pkg/controller/migplan/pvlist.go
  pkg/controller/migplan/validation.go
Labels: 1.2.0

#402 Store the s3 CA bundle in the registry and cloud secrets
  pkg/cloudprovider/aws.go
Labels: 1.2.0

#416 Use non-cached client in the reconciler instead.
  pkg/controller/discovery/controller.go
Labels: bugzilla

#412 Replace the Touch ID with observedGeneration.
  pkg/apis/migration/v1alpha1/migcluster_types.go
  pkg/apis/migration/v1alpha1/migmigration_types.go
  pkg/apis/migration/v1alpha1/migplan_types.go
  pkg/apis/migration/v1alpha1/migstorage_types.go
  pkg/apis/migration/v1alpha1/resource.go
  pkg/controller/migcluster/migcluster_controller.go
  pkg/controller/migmigration/migmigration_controller.go
  pkg/controller/migmigration/predicate.go
  pkg/controller/migplan/migplan_controller.go
  pkg/controller/migplan/predicate.go
  pkg/controller/migstorage/migstorage_controller.go
Labels: release-1.2.0

#419 Discovery minor tech debt.
  pkg/controller/discovery/container/container.go
  pkg/controller/discovery/web/cluster.go
  pkg/controller/discovery/web/ns.go
  pkg/controller/discovery/web/plan.go
  pkg/controller/discovery/web/pod.go
  pkg/controller/discovery/web/pv.go
  pkg/controller/discovery/web/web.go
Labels: tech-debt
