Repository migtools/mig-controller, pull requests merged in 2020-10, with the labels that each got.

#697 Fix util typo in devguide
  docs/devguide.md
Labels: docs

#651 Remove all remote watches
  config/crds/migration_v1alpha1_migcluster.yaml
  config/crds/migration_v1alpha1_migplan.yaml
  config/crds/migration_v1alpha1_migstorage.yaml
  config/samples/mig-cluster-local.yaml
  config/samples/mig-cluster-remote.yaml
  config/samples/mig-plan.yaml
  config/samples/mig-storage.yaml
  docs/devguide.md
  pkg/apis/migration/v1alpha1/migcluster_types.go
  pkg/apis/migration/v1alpha1/migplan_types.go
  pkg/apis/migration/v1alpha1/migstorage_types.go
  pkg/apis/migration/v1alpha1/resource.go
  pkg/apis/migration/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/migcluster/migcluster_controller.go
  pkg/controller/migcluster/remote_watch.go
  pkg/controller/migcluster/storageclass.go
  pkg/controller/migmigration/migmigration_controller.go
  pkg/controller/migmigration/task.go
  pkg/controller/migmigration/verify.go
  pkg/controller/migplan/migplan_controller.go
  pkg/controller/migplan/pvlist.go
  pkg/controller/migplan/registry.go
  pkg/controller/migplan/storage.go
  pkg/controller/migplan/validation.go
  pkg/controller/migstorage/migstorage_controller.go
  pkg/controller/remotewatcher/predicate.go
  pkg/controller/remotewatcher/remotewatcher_controller.go
Labels: perf-scale, update-operator

#677 Update migration to support rollback on demand
  config/crds/migration_v1alpha1_migmigration.yaml
  config/samples/mig-migration.yaml
  pkg/apis/migration/v1alpha1/migmigration_types.go
  pkg/controller/migmigration/annotation.go
  pkg/controller/migmigration/backup.go
  pkg/controller/migmigration/restore.go
  pkg/controller/migmigration/task.go
  pkg/controller/migmigration/validation.go
  pkg/settings/migration.go
  pkg/settings/settings.go
Labels: update-operator

#718 Bug 1879424: Remove destination stage pod check
  pkg/controller/migmigration/task.go
Labels: bug
