Repository migtools/mig-controller, pull requests merged in 2020-06, with the labels that each got.

#551 fixup: update correct error handling for ensureNamespacesCreated
  pkg/controller/migmigration/restore.go
Labels: non-admin

#549 Skip restic restart steps when not needed
  config/crds/migration_v1alpha1_migcluster.yaml
  pkg/apis/migration/v1alpha1/migcluster_types.go
  pkg/apis/migration/v1alpha1/zz_generated.deepcopy.go
  pkg/compat/client.go
  pkg/controller/migmigration/pod.go
Labels: enhancement, release-1.2.1, update-operator

#513 Add developer guide.
  docs/devguide.md
Labels: docs, release-1.3.0

#557 Add links to devguide.md
  HACKING.md
  README.md
Labels: docs, release-1.3.0

#554 add expirasAt field and refactor SelfSAR check to SAR checks
  config/crds/migration_v1alpha1_migtoken.yaml
  pkg/apis/migration/v1alpha1/migtoken_types.go
  pkg/apis/migration/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/migmigration/restore.go
  pkg/controller/migtoken/migtoken_controller.go
Labels: non-admin, update-operator

#559 allow the controllers to watch all namespaces
  pkg/apis/migration/v1alpha1/resource.go
  pkg/controller/migcluster/predicate.go
  pkg/controller/migmigration/predicate.go
  pkg/controller/migplan/predicate.go
  pkg/controller/migstorage/predicate.go
  pkg/controller/migtoken/predicate.go
  pkg/settings/namespace.go
  pkg/settings/settings.go
Labels: non-admin, update-operator

#562 add Type field to MigToken.Status
  pkg/apis/migration/v1alpha1/migtoken_types.go
Labels: non-admin

#560 Bug 1844638: Add settings switch controlling whether FailedItinerary (auto-rollback) gets used
  pkg/controller/migmigration/task.go
  pkg/settings/migration.go
  pkg/settings/settings.go
Labels: bug, release-1.2.2, update-operator

#567 Bug 1846521: Add fallback to parse gitVersion when version.Major/Minor not available
  pkg/compat/client.go
Labels: bug

#566 fix token controller panicking on invalid MigClusterRef
  pkg/apis/migration/v1alpha1/migtoken_types.go
Labels: non-admin, release-1.3.0

#576 HF5 Remove CSVs from backup
  pkg/controller/migcluster/remote_watch.go
  pkg/controller/migmigration/migrate.go
Labels: hotfix
