Repository migtools/mig-controller, pull requests merged in 2020-05, with the labels that each got.

#520 Create backup and restore only once for each run
  pkg/controller/migmigration/backup.go
  pkg/controller/migmigration/restore.go
  pkg/controller/migmigration/task.go
Labels: ready-to-test, release-1.2.0

#518 BZ 1829390 - Check additional failure conditions and fail task
  pkg/apis/migration/v1alpha1/mighook_types.go
  pkg/controller/migmigration/hooks.go
  pkg/controller/migmigration/task.go
Labels: bug, release-1.2.0

#528 Merge feature-1.2.1 branch
  config/crds/migration_v1alpha1_migplan.yaml
  pkg/apis/migration/v1alpha1/migplan_types.go
  pkg/apis/migration/v1alpha1/template.go
  pkg/apis/migration/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/migmigration/.task.go.swn
  pkg/controller/migmigration/annotation.go
  pkg/controller/migmigration/migrate.go
  pkg/controller/migmigration/pod.go
  pkg/controller/migmigration/stage.go
  pkg/controller/migmigration/task.go
  pkg/controller/migplan/pvlist.go
  pkg/controller/migplan/registry.go
  pkg/controller/migplan/validation.go
  pkg/reference/ref.go
Labels: release-1.2.1, update-operator

#530 Bug 1831711: Fix incompatible GVK detection for 4.3->4.4 migrations
  Gopkg.lock
  pkg/gvk/gvk.go
  pkg/gvk/gvk_test.go
  vendor/github.com/evanphx/json-patch/.travis.yml
  vendor/github.com/evanphx/json-patch/LICENSE
  vendor/github.com/evanphx/json-patch/README.md
  vendor/github.com/evanphx/json-patch/cmd/json-patch/file_flag.go
  vendor/github.com/evanphx/json-patch/cmd/json-patch/main.go
  vendor/github.com/evanphx/json-patch/errors.go
  vendor/github.com/evanphx/json-patch/go.mod
  vendor/github.com/evanphx/json-patch/go.sum
  vendor/github.com/evanphx/json-patch/merge.go
  vendor/github.com/evanphx/json-patch/patch.go
  vendor/github.com/evanphx/json-patch/v5/cmd/json-patch/file_flag.go
  vendor/github.com/evanphx/json-patch/v5/cmd/json-patch/main.go
  vendor/github.com/evanphx/json-patch/v5/errors.go
  vendor/github.com/evanphx/json-patch/v5/go.mod
  vendor/github.com/evanphx/json-patch/v5/go.sum
  vendor/github.com/evanphx/json-patch/v5/merge.go
  vendor/github.com/evanphx/json-patch/v5/patch.go
Labels: bug, release-1.2.0

#534 Bug 1831711: Fix GVK diff to work for special kinds with multiple groups
  pkg/controller/migplan/gvk.go
  pkg/gvk/gvk.go
  pkg/gvk/gvk_test.go
Labels: bug, release-1.2.0

#526 Add MigToken CRD
  Gopkg.lock
  config/crds/migration_v1alpha1_migplan.yaml
  config/crds/migration_v1alpha1_migtoken.yaml
  pkg/apis/migration/v1alpha1/migcluster_types.go
  pkg/apis/migration/v1alpha1/migplan_types.go
  pkg/apis/migration/v1alpha1/migtoken_types.go
  pkg/apis/migration/v1alpha1/migtoken_types_test.go
  pkg/apis/migration/v1alpha1/model.go
  pkg/apis/migration/v1alpha1/resource.go
  pkg/apis/migration/v1alpha1/zz_generated.deepcopy.go
  pkg/auth/identity.go
  pkg/controller/controller.go
  pkg/controller/migmigration/authorization.go
  pkg/controller/migmigration/migmigration_controller_test.go
  pkg/controller/migmigration/restore.go
  pkg/controller/migplan/validation.go
  pkg/controller/migtoken/migtoken_controller.go
  pkg/controller/migtoken/predicate.go
  pkg/controller/migtoken/validation.go
  pkg/settings/role.go
Labels: non-admin, release-1.3.0, update-operator

#529 follow-on fixes from review of disconnected PVC migration
  pkg/apis/migration/v1alpha1/migplan_types.go
  pkg/apis/migration/v1alpha1/template.go
  pkg/apis/migration/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/migmigration/migrate.go
  pkg/controller/migmigration/stage.go
  pkg/controller/migmigration/task.go
  pkg/controller/migplan/pvlist.go
  pkg/controller/migplan/registry.go
  pkg/pods/template.go
  pkg/reference/ref.go
Labels: release-1.2.1

#540 Bug 1837737 - Use data instead of binaryData so hooks work w/3.7 and 3.9
  pkg/controller/migmigration/hooks.go
Labels: bug, release-1.2.0

#544 Add helper script to create MigTenant, non-admin users and namespace
  hack/setup-migtenant-ocp4.sh
Labels: non-admin, release-1.3.0

#543 Add use verb SAR check on migtoken
  pkg/apis/migration/v1alpha1/migtoken_types.go
  pkg/apis/migration/v1alpha1/resource.go
  pkg/controller/migmigration/predicate.go
  pkg/controller/migplan/predicate.go
  pkg/controller/migstorage/predicate.go
  pkg/controller/migtoken/predicate.go
  pkg/controller/migtoken/validation.go
  pkg/settings/namespace.go
Labels: non-admin, release-1.3.0

#547 Add link to HACKING.md, add CI invocation instructions
  HACKING.md
  README.md
  config/samples/mig-cluster-remote.yaml
  config/samples/mig-storage-creds.yaml
  config/samples/mig-storage.yaml
  config/samples/sa-secret-remote.yaml
Labels: docs, release-1.2.1
