Repository migtools/mig-controller, pull requests merged in 2020-08, with the labels that each got.

#617 Bug 1861904: Reorder MigPlan reconcile so excludedResources are not shown as incompatible
  pkg/controller/migplan/migplan_controller.go
Labels: bug, release-1.2.4

#618 Remove "EnsureLabelsDeleted" phase to speed up migration process
  pkg/controller/migmigration/annotation.go
  pkg/controller/migmigration/task.go
Labels: release-1.3.0

#607 Add round trip time metric to compat client
  pkg/compat/client.go
  pkg/compat/metrics.go
Labels: enhancement, release-1.3.0

#598 Common storage backend for all migplans sharing a migstorage
  pkg/controller/migplan/registry.go
Labels: enhancement, release-1.3.0

#628 Bug 1867597: Add support for pulling stage pod + registry images from "migration-cluster-config" configmap
  pkg/apis/migration/v1alpha1/migcluster_types.go
  pkg/apis/migration/v1alpha1/migplan_types.go
  pkg/controller/migmigration/annotation.go
  pkg/controller/migmigration/restore.go
  pkg/controller/migmigration/stage.go
  pkg/controller/migplan/registry.go
Labels: bug, release-1.2.5, update-operator

#620 Stage imagestreams
  pkg/controller/migmigration/annotation.go
  pkg/controller/migmigration/task.go
Labels: release-1.3.1

#604 Add Analytics controller
  Gopkg.lock
  config/crds/migration_v1alpha1_miganalytic.yaml
  pkg/apis/migration/v1alpha1/miganalytic_types.go
  pkg/apis/migration/v1alpha1/migcluster_types.go
  pkg/apis/migration/v1alpha1/resource.go
  pkg/apis/migration/v1alpha1/zz_generated.deepcopy.go
  pkg/compat/conversion/appsv1/zz_conversion_generated.go
  pkg/compat/conversion/batchv1beta/zz_conversion_generated.go
  pkg/compat/conversion/extv1beta1/zz_conversion_generated.go
  pkg/controller/controller.go
  pkg/controller/miganalytic/miganalytics_controller.go
  pkg/controller/miganalytic/miganalytics_controller_suite_test.go
  pkg/controller/miganalytic/miganalytics_controller_test.go
  pkg/controller/miganalytic/predicate.go
  pkg/controller/miganalytic/validation.go
  pkg/gvk/gvk.go
Labels: enhancement, release-1.3.0, update-operator

#625 Introducing labels to help identify parent resources
  pkg/controller/migmigration/annotation.go
  pkg/controller/migmigration/backup.go
  pkg/controller/migmigration/migmigration_controller.go
  pkg/controller/migmigration/restore.go
Labels: enhancement, release-1.3.0

#643 Add printer columns exposing useful Mig* CR fields to CLI users
  config/crds/migration_v1alpha1_miganalytic.yaml
  config/crds/migration_v1alpha1_migcluster.yaml
  config/crds/migration_v1alpha1_mighook.yaml
  config/crds/migration_v1alpha1_migmigration.yaml
  config/crds/migration_v1alpha1_migplan.yaml
  config/crds/migration_v1alpha1_migstorage.yaml
  pkg/apis/migration/v1alpha1/miganalytic_types.go
  pkg/apis/migration/v1alpha1/migcluster_types.go
  pkg/apis/migration/v1alpha1/mighook_types.go
  pkg/apis/migration/v1alpha1/migmigration_types.go
  pkg/apis/migration/v1alpha1/migplan_types.go
  pkg/apis/migration/v1alpha1/migstorage_types.go
  pkg/compat/conversion/appsv1/zz_conversion_generated.go
  pkg/compat/conversion/batchv1beta/zz_conversion_generated.go
  pkg/compat/conversion/extv1beta1/zz_conversion_generated.go
  pkg/controller/migmigration/migrate.go
  pkg/controller/migmigration/task.go
Labels: enhancement, release-1.3.0, update-operator, ux

#639 Plan tree view endpiont.
  pkg/controller/discovery/container/container.go
  pkg/controller/discovery/container/ds.go
  pkg/controller/discovery/container/plan.go
  pkg/controller/discovery/container/velero.go
  pkg/controller/discovery/controller.go
  pkg/controller/discovery/model/model.go
  pkg/controller/discovery/model/plan.go
  pkg/controller/discovery/model/velero.go
  pkg/controller/discovery/web/backup.go
  pkg/controller/discovery/web/cluster.go
  pkg/controller/discovery/web/migration.go
  pkg/controller/discovery/web/ns.go
  pkg/controller/discovery/web/plan.go
  pkg/controller/discovery/web/pod.go
  pkg/controller/discovery/web/pv.go
  pkg/controller/discovery/web/pvbackup.go
  pkg/controller/discovery/web/pvc.go
  pkg/controller/discovery/web/pvrestore.go
  pkg/controller/discovery/web/restore.go
  pkg/controller/discovery/web/service.go
  pkg/controller/discovery/web/web.go
Labels: release-1.3.0, ux

#646 Bumped Go 1.14.4 needed for new features in errors.
  Dockerfile
Labels: release-1.3.0
