Repository migtools/mig-controller, pull requests merged in 2020-07, with the labels that each got.

#587 Bug 1856814 - add namespace list to job pod as an env var
  pkg/controller/migmigration/hooks.go
Labels: bug

#588 Enable custom k8s resource exclusions
  Gopkg.lock
  config/crds/migration_v1alpha1_migplan.yaml
  pkg/apis/migration/v1alpha1/migplan_types.go
  pkg/apis/migration/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/migmigration/backup.go
  pkg/controller/migmigration/migrate.go
  pkg/controller/migmigration/task.go
  pkg/controller/migplan/migplan_controller.go
  pkg/settings/plan.go
  vendor/github.com/deckarep/golang-set/.gitignore
  vendor/github.com/deckarep/golang-set/.travis.yml
  vendor/github.com/deckarep/golang-set/LICENSE
  vendor/github.com/deckarep/golang-set/README.md
  vendor/github.com/deckarep/golang-set/iterator.go
  vendor/github.com/deckarep/golang-set/set.go
  vendor/github.com/deckarep/golang-set/threadsafe.go
  vendor/github.com/deckarep/golang-set/threadunsafe.go
Labels: release-1.2.4, update-operator

#593 gitignore zz_generated files
  .gitignore
  Makefile
  pkg/apis/migration/v1alpha1/zz_generated.deepcopy.go
  pkg/compat/conversion/appsv1/zz_conversion_generated.go
  pkg/compat/conversion/batchv1beta/zz_conversion_generated.go
  pkg/compat/conversion/extv1beta1/zz_conversion_generated.go
Labels: release-1.3.0

#590 Fix NFS PVC validation for move action only
  pkg/controller/migplan/validation.go
Labels: bug, release-1.3.0

#611 Bug 1861904: Skip listing GVKs as incompatible if in excluded list
  pkg/controller/migmigration/backup.go
  pkg/controller/migmigration/migrate.go
  pkg/gvk/gvk.go
  pkg/settings/plan.go
Labels: release-1.2.4
