Repository migtools/mig-controller, pull requests merged in 2021-04, with the labels that each got.

#1052 Log abnormal events for resources we are waiting on
  pkg/controller/directvolumemigration/rsync.go
  pkg/controller/directvolumemigration/stunnel.go
  pkg/controller/migmigration/hooks.go
  pkg/controller/migmigration/pod.go
  pkg/controller/migmigration/stage.go
  pkg/controller/migmigration/validation.go
  pkg/event/event.go
Labels: release-1.4.3

#1058 Use server-side filtering of events when looking for abnormalities
  pkg/controller/directvolumemigration/rsync.go
  pkg/controller/directvolumemigration/stunnel.go
  pkg/controller/migmigration/hooks.go
  pkg/controller/migmigration/pod.go
  pkg/controller/migmigration/stage.go
  pkg/controller/migmigration/validation.go
  pkg/event/event.go
Labels: release-1.4.3

#1059 Cherry pick: use server-side filtering of events for performance reasons.
  pkg/controller/directvolumemigration/rsync.go
  pkg/controller/directvolumemigration/stunnel.go
  pkg/controller/migmigration/hooks.go
  pkg/controller/migmigration/pod.go
  pkg/controller/migmigration/stage.go
  pkg/controller/migmigration/validation.go
  pkg/event/event.go
Labels: release-1.4.3

#1055 Add dism, dvmp to discovery service and tree view
  pkg/controller/discovery/container/directimage.go
  pkg/controller/discovery/container/directimagestream.go
  pkg/controller/discovery/container/directvolume.go
  pkg/controller/discovery/container/directvolumeprogress.go
  pkg/controller/discovery/controller.go
  pkg/controller/discovery/model/directimage.go
  pkg/controller/discovery/model/directimagestream.go
  pkg/controller/discovery/model/directvolume.go
  pkg/controller/discovery/model/directvolumeprogress.go
  pkg/controller/discovery/model/model.go
  pkg/controller/discovery/web/directimage.go
  pkg/controller/discovery/web/directimagestream.go
  pkg/controller/discovery/web/directvolume.go
  pkg/controller/discovery/web/directvolumeprogress.go
  pkg/controller/discovery/web/plan.go
  pkg/controller/discovery/web/web.go
Labels: release-1.4.4

#1032 Add jaeger to remaining controllers, pass spans in ctx
  pkg/controller/directimagemigration/directimagemigration_controller.go
  pkg/controller/directimagemigration/migrate.go
  pkg/controller/directimagemigration/task.go
  pkg/controller/directimagemigration/validation.go
  pkg/controller/directimagestreammigration/directimagestreammigration_controller.go
  pkg/controller/directimagestreammigration/migrate.go
  pkg/controller/directimagestreammigration/task.go
  pkg/controller/directimagestreammigration/validation.go
  pkg/controller/directvolumemigration/directvolumemigration_controller.go
  pkg/controller/directvolumemigration/migrate.go
  pkg/controller/directvolumemigration/task.go
  pkg/controller/directvolumemigration/validation.go
  pkg/controller/miganalytic/miganalytics_controller.go
  pkg/controller/miganalytic/trace.go
  pkg/controller/migcluster/migcluster_controller.go
  pkg/controller/migcluster/trace.go
  pkg/controller/migcluster/validation.go
  pkg/controller/mighook/mighook_controller.go
  pkg/controller/mighook/trace.go
  pkg/controller/mighook/validation.go
  pkg/controller/migmigration/migmigration_controller.go
  pkg/controller/migmigration/migrate.go
  pkg/controller/migmigration/task.go
  pkg/controller/migmigration/validation.go
  pkg/controller/migplan/gvk.go
  pkg/controller/migplan/migplan_controller.go
  pkg/controller/migplan/migplan_controller_test.go
  pkg/controller/migplan/pvlist.go
  pkg/controller/migplan/storage.go
  pkg/controller/migplan/trace.go
  pkg/controller/migplan/validation.go
  pkg/controller/migstorage/migstorage_controller.go
  pkg/controller/migstorage/trace.go
  pkg/controller/migstorage/validation.go
Labels: release-1.4.4

#1030 Update docs with jaeger and phase perf example
  HACKING.md
  docs/images/jaeger_guide/jaeger_overall.png
  docs/images/jaeger_guide/jaeger_service_stats.png
  docs/images/jaeger_guide/jaeger_span_stats.png
  docs/images/jaeger_guide/jaeger_trace_fullview.png
  docs/images/jaeger_guide/jaeger_trace_graph.png
  docs/images/jaeger_guide/jaeger_trace_opts.png
  docs/images/jaeger_guide/jaeger_trace_select.png
  docs/images/jaeger_guide/jaeger_trace_zoomview.png
  docs/images/phase_perf_table.png
Labels: release-1.4.4

#1062 Fix panic due to missing nil check starting span when jaeger not enabled
  pkg/controller/migmigration/task.go
Labels: bug

#1066 Make ownerReferences on DVM optional
  pkg/apis/migration/v1alpha1/directimagestreammigration_types.go
  pkg/apis/migration/v1alpha1/directvolumemigrationprogress_types.go
  pkg/controller/directvolumemigration/migrate.go
  pkg/controller/directvolumemigration/pvcs.go
  pkg/controller/directvolumemigration/task.go
Labels: release-1.4.4

#1069 Bug 1949238: No warning on NodeName. Warn if NodeSelector is non-default
  pkg/controller/migplan/migplan_controller_test.go
  pkg/controller/migplan/validation.go
Labels: bug, release-1.4.3

#1081 Bug 1949238: (Cherry-pick 1.4.3) No warning on NodeName. Warn if NodeSelector is non-default
  pkg/controller/migplan/migplan_controller_test.go
  pkg/controller/migplan/validation.go
Labels: bug

#1085 [MIG-627] Add configureable threshold value for pv usage percentage
  pkg/controller/miganalytic/volume_adjustment.go
  pkg/controller/miganalytic/volume_adjustment_test.go
  pkg/settings/plan.go
Labels: release-1.4.4, update-operator

#1087 [MIG-620] Show details of Rsync attempts on progress bar
  pkg/controller/directvolumemigration/rsync.go
  pkg/controller/directvolumemigrationprogress/directvolumemigrationprogress_controller.go
  pkg/controller/migmigration/description.go
  pkg/controller/migmigration/dvm.go
  pkg/controller/migmigration/dvm_test.go
Labels: release-1.5.0

#1077 Combine Stunnel with Rsync
  pkg/controller/directvolumemigration/descriptions.go
  pkg/controller/directvolumemigration/rsync.go
  pkg/controller/directvolumemigration/rsync_test.go
  pkg/controller/directvolumemigration/stunnel.go
  pkg/controller/directvolumemigration/task.go
  pkg/controller/directvolumemigrationprogress/directvolumemigrationprogress_controller.go
  pkg/controller/directvolumemigrationprogress/directvolumemigrationprogress_controller_test.go
Labels: release-1.5.0
