Repository migtools/mig-controller, pull requests merged in 2021-03, with the labels that each got.

#974 Delete stale restores instead of backups
  pkg/controller/migmigration/backup.go
Labels: bug

#983 Add operator version check to cluster (#954)
  config/crds/migration.openshift.io_migclusters.yaml
  pkg/apis/migration/v1alpha1/migcluster_types.go
  pkg/controller/migcluster/migcluster_controller.go
  pkg/controller/migcluster/remotecluster.go
  pkg/controller/migcluster/validation.go
  pkg/controller/migplan/validation.go
Labels: release-1.4.2

#987 adding pending pods in CRD
  config/crds/migration.openshift.io_directvolumemigrations.yaml
Labels: update-operator

#988 cherrypick: adding pending pods in CRD (#987)
  config/crds/migration.openshift.io_directvolumemigrations.yaml
Labels: update-operator

#979 Bug 1926128: Dvm proxy support
  pkg/apis/migration/v1alpha1/migplan_types.go
  pkg/controller/directvolumemigration/stunnel.go
  pkg/controller/directvolumemigration/stunnel_test.go
  pkg/controller/migmigration/registry.go
  pkg/settings/dvm.go
Labels: release-1.4.2, update-operator

#990 Bug 1936549: Fix problem with dest cluster configmap missing not triggering version warning
  pkg/controller/migplan/validation.go
Labels: bug, release-1.4.2

#991 Bug 1936549: Cherry-pick: BZ 1936549 fix (#990)
  pkg/controller/migplan/validation.go
Labels: bug, release-1.4.2

#995 add omitempty to PV capacityConfirmed field (#994)
  config/crds/migration.openshift.io_migplans.yaml
  pkg/apis/migration/v1alpha1/migplan_types.go
Labels: update-operator

#940 Bug 1859998: Use and propagate direct_image_copy flag
  pkg/apis/migration/v1alpha1/migplan_types.go
  pkg/controller/miganalytic/miganalytics_controller.go
  pkg/controller/migmigration/annotation.go
  pkg/controller/migmigration/backup.go
  pkg/settings/settings.go
Labels: update-operator

#1016 Bug 1940148: Handle possible race condition panic in miganalytic
  pkg/controller/miganalytic/miganalytics_controller.go
Labels: bug

#1009 API Changes for DVM retry mechanism
  config/crds/migration.openshift.io_directvolumemigrationprogresses.yaml
  config/crds/migration.openshift.io_directvolumemigrations.yaml
  pkg/apis/migration/v1alpha1/directvolumemigration_types.go
  pkg/apis/migration/v1alpha1/directvolumemigrationprogress_types.go
  pkg/apis/migration/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/directvolumemigration/rsync_test.go
Labels: release-1.4.3, update-operator

#1001 resticting capabilities in pod scc field
  pkg/controller/directvolumemigration/rsync.go
  pkg/controller/directvolumemigration/stunnel.go
Labels: release-1.4.3

#1019 Structured log conversion
  pkg/controller/directimagemigration/directimagemigration_controller.go
  pkg/controller/directimagemigration/migrate.go
  pkg/controller/directimagestreammigration/directimagestreammigration_controller.go
  pkg/controller/directimagestreammigration/migrate.go
  pkg/controller/directvolumemigration/directvolumemigration_controller.go
  pkg/controller/directvolumemigration/migrate.go
  pkg/controller/directvolumemigration/namespace.go
  pkg/controller/directvolumemigration/pvcs.go
  pkg/controller/directvolumemigration/rsync.go
  pkg/controller/directvolumemigration/stunnel.go
  pkg/controller/directvolumemigrationprogress/directvolumemigrationprogress_controller.go
  pkg/controller/miganalytic/miganalytics_controller.go
  pkg/controller/miganalytic/restic_executor.go
  pkg/controller/miganalytic/volume_adjustment.go
  pkg/controller/migcluster/migcluster_controller.go
  pkg/controller/mighook/mighook_controller.go
  pkg/controller/migmigration/annotation.go
  pkg/controller/migmigration/backup.go
  pkg/controller/migmigration/description.go
  pkg/controller/migmigration/directimagemigration.go
  pkg/controller/migmigration/dvm.go
  pkg/controller/migmigration/hooks.go
  pkg/controller/migmigration/migmigration_controller.go
  pkg/controller/migmigration/migrate.go
  pkg/controller/migmigration/pod.go
  pkg/controller/migmigration/quiesce.go
  pkg/controller/migmigration/registry.go
  pkg/controller/migmigration/restore.go
  pkg/controller/migmigration/stage.go
  pkg/controller/migmigration/task.go
  pkg/controller/migmigration/verify.go
  pkg/controller/migplan/migplan_controller.go
  pkg/controller/migplan/pvlist.go
  pkg/controller/migstorage/migstorage_controller.go
Labels: release-1.4.3

#1041 Fix one last phase key typo
  pkg/controller/directimagestreammigration/task.go
Labels: release-1.4.3

#1017 DVM & DVMP Rsync retry logic
  config/crds/migration.openshift.io_directvolumemigrations.yaml
  pkg/apis/migration/v1alpha1/directvolumemigration_types.go
  pkg/apis/migration/v1alpha1/zz_generated.deepcopy.go
  pkg/compat/fake/client.go
  pkg/controller/directvolumemigration/descriptions.go
  pkg/controller/directvolumemigration/rsync.go
  pkg/controller/directvolumemigration/rsync_test.go
  pkg/controller/directvolumemigration/stunnel.go
  pkg/controller/directvolumemigration/task.go
  pkg/controller/directvolumemigration/validation.go
  pkg/controller/directvolumemigrationprogress/directvolumemigrationprogress_controller.go
  pkg/controller/directvolumemigrationprogress/directvolumemigrationprogress_controller_test.go
  pkg/controller/directvolumemigrationprogress/validation.go
  pkg/controller/directvolumemigrationprogress/validation_test.go
  pkg/controller/miganalytic/miganalytics_controller_test.go
  pkg/controller/migmigration/dvm.go
  pkg/controller/migmigration/dvm_test.go
  pkg/settings/dvm.go
Labels: release-1.4.3, update-operator

#1042 Cherry-pick DVM Retry Commits
  config/crds/migration.openshift.io_directvolumemigrationprogresses.yaml
  config/crds/migration.openshift.io_directvolumemigrations.yaml
  pkg/apis/migration/v1alpha1/directvolumemigration_types.go
  pkg/apis/migration/v1alpha1/directvolumemigrationprogress_types.go
  pkg/apis/migration/v1alpha1/zz_generated.deepcopy.go
  pkg/compat/fake/client.go
  pkg/controller/directvolumemigration/descriptions.go
  pkg/controller/directvolumemigration/rsync.go
  pkg/controller/directvolumemigration/rsync_test.go
  pkg/controller/directvolumemigration/stunnel.go
  pkg/controller/directvolumemigration/task.go
  pkg/controller/directvolumemigration/validation.go
  pkg/controller/directvolumemigrationprogress/directvolumemigrationprogress_controller.go
  pkg/controller/directvolumemigrationprogress/directvolumemigrationprogress_controller_test.go
  pkg/controller/directvolumemigrationprogress/validation.go
  pkg/controller/directvolumemigrationprogress/validation_test.go
  pkg/controller/migmigration/dvm.go
  pkg/controller/migmigration/dvm_test.go
  pkg/settings/dvm.go
Labels: update-operator

#1045 Add common migMigration key to all controller involved in migration
  pkg/apis/migration/v1alpha1/directimagestreammigration_types.go
  pkg/apis/migration/v1alpha1/directvolumemigrationprogress_types.go
  pkg/controller/directimagemigration/directimagemigration_controller.go
  pkg/controller/directimagestreammigration/directimagestreammigration_controller.go
  pkg/controller/directvolumemigration/directvolumemigration_controller.go
  pkg/controller/directvolumemigrationprogress/directvolumemigrationprogress_controller.go
Labels: release-1.4.3

#1044 No traces on DVMP validation fail
  pkg/controller/directvolumemigrationprogress/directvolumemigrationprogress_controller.go
  pkg/controller/directvolumemigrationprogress/validation.go
Labels: release-1.4.3

#1046 Fix missing nil check in dvm progress function
  pkg/controller/migmigration/dvm.go
  pkg/controller/migmigration/dvm_test.go
Labels: release-1.4.3

#1043 Fix DVM and DIM results from discovery service
  pkg/controller/discovery/container/direct.go
  pkg/controller/discovery/controller.go
  pkg/controller/discovery/model/direct.go
  pkg/controller/discovery/model/model.go
  pkg/controller/discovery/web/direct.go
  pkg/controller/discovery/web/plan.go
  pkg/controller/discovery/web/web.go
Labels: release-1.4.3
