Repository migtools/mig-controller, pull requests merged in 2021-02, with the labels that each got.

#941 Add exit codes and runtime to DVMP CR
  config/crds/migration.openshift.io_directvolumemigrationprogresses.yaml
  pkg/apis/migration/v1alpha1/directvolumemigrationprogress_types.go
  pkg/apis/migration/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/directvolumemigrationprogress/directvolumemigrationprogress_controller.go
Labels: update-operator

#939 Adding comments for each resource spec fields
  HACKING.md
  Makefile
  config/crds/migration.openshift.io_directimagemigrations.yaml
  config/crds/migration.openshift.io_directimagestreammigrations.yaml
  config/crds/migration.openshift.io_directvolumemigrationprogresses.yaml
  config/crds/migration.openshift.io_directvolumemigrations.yaml
  config/crds/migration.openshift.io_miganalytics.yaml
  config/crds/migration.openshift.io_migclusters.yaml
  config/crds/migration.openshift.io_mighooks.yaml
  config/crds/migration.openshift.io_migmigrations.yaml
  config/crds/migration.openshift.io_migplans.yaml
  config/crds/migration.openshift.io_migstorages.yaml
  pkg/apis/migration/v1alpha1/directimagemigration_types.go
  pkg/apis/migration/v1alpha1/directimagestreammigration_types.go
  pkg/apis/migration/v1alpha1/directvolumemigration_types.go
  pkg/apis/migration/v1alpha1/miganalytic_types.go
  pkg/apis/migration/v1alpha1/migcluster_types.go
  pkg/apis/migration/v1alpha1/mighook_types.go
  pkg/apis/migration/v1alpha1/migmigration_types.go
  pkg/apis/migration/v1alpha1/migplan_types.go
  pkg/apis/migration/v1alpha1/migstorage_types.go
Labels: docs, release-1.4.0, update-operator

#950 MigAnalytic: Initial API changes for PV resizing
  config/crds/migration.openshift.io_miganalytics.yaml
  pkg/apis/migration/v1alpha1/miganalytic_types.go
  pkg/apis/migration/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/miganalytic/miganalytics_controller.go
  pkg/controller/miganalytic/miganalytics_controller_test.go
Labels: update-operator

#952 Discovery and Grouping of PVs for Intelligent PV resizing
  pkg/controller/miganalytic/miganalytics_controller.go
Labels: update-operator

#955 PV resizing logic
  pkg/controller/miganalytic/miganalytics_controller.go
  pkg/controller/miganalytic/miganalytics_controller_test.go
  pkg/controller/miganalytic/restic_executor.go
  pkg/controller/miganalytic/restic_executor_test.go
  pkg/controller/miganalytic/validation.go
  pkg/controller/miganalytic/volume_adjustment.go
  pkg/controller/miganalytic/volume_adjustment_test.go
Labels: release-1.4.1

#951 Implementing migplan changes for intelligent pv resizing
  pkg/apis/migration/v1alpha1/miganalytic_types.go
  pkg/controller/miganalytic/miganalytics_controller.go
  pkg/controller/migplan/migplan_controller.go
  pkg/controller/migplan/migplan_controller_test.go
  pkg/controller/migplan/validation.go
  pkg/settings/plan.go
Labels: release-1.4.2, update-operator

#956 Proposed volume size computation for PV resizing
  pkg/controller/miganalytic/volume_adjustment.go
  pkg/controller/miganalytic/volume_adjustment_test.go
Labels: release-1.4.2

#957 Proposed PV size processing and checking
  pkg/apis/migration/v1alpha1/migplan_types.go
  pkg/controller/migplan/migplan_controller.go
  pkg/controller/migplan/validation.go
Labels: release-1.4.2

#961 Adjust destination PVC size based on Intelligent PV resizing for Direct Volume Migration
  pkg/controller/directvolumemigration/pvcs.go
Labels: release-1.4.2

#965 PV resizing final set of changes
  config/crds/migration.openshift.io_migplans.yaml
  pkg/apis/migration/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/directvolumemigration/pvcs.go
  pkg/controller/miganalytic/miganalytics_controller.go
  pkg/controller/miganalytic/restic_executor.go
  pkg/controller/miganalytic/volume_adjustment.go
  pkg/controller/migplan/migplan_controller.go
  pkg/controller/migplan/migplan_controller_test.go
  pkg/controller/migplan/validation.go
  pkg/settings/dvm.go
  pkg/settings/settings.go
Labels: update-operator

#962 Dynamic Pipeline: Only add steps that will be part of migration
  pkg/controller/migmigration/task.go
Labels: release-1.4.2
