Repository migtools/mig-controller, pull requests merged in 2021-01, with the labels that each got.

#866 Add direct migration resources to debug view
  pkg/controller/discovery/container/direct.go
  pkg/controller/discovery/controller.go
  pkg/controller/discovery/model/direct.go
  pkg/controller/discovery/model/model.go
  pkg/controller/discovery/web/direct.go
  pkg/controller/discovery/web/plan.go
  pkg/controller/discovery/web/web.go
Labels: release-1.4.0

#874 Allow configuring Rsync options through MigrationController CR
  pkg/controller/directvolumemigration/rsync.go
  pkg/settings/dvm.go
  pkg/settings/settings.go
Labels: direct-migration, release-1.4.0, update-operator

#869 dev guide - Add details on condition staging and durable conditions
  docs/devguide.md
  docs/images/conditions.png
Labels: docs

#879 Bug 1906724: Delete moved NFS PVs during rollback
  pkg/controller/migmigration/restore.go
  pkg/gvk/gvk.go
Labels: release-1.4.0

#932 Bug 1907828: Adding pvc health checking when pod is pending
  pkg/controller/migmigration/stage.go
Labels: release-1.4.0
