Repository migtools/mig-controller, pull requests merged in 2022-05, with the labels that each got.

#1299 Bug 2048537: improve exposed registry connection check (#1297)
  pkg/apis/migration/v1alpha1/migcluster_types.go
  pkg/apis/migration/v1alpha1/migplan_types.go
  pkg/controller/migcluster/validation.go
Labels: bugzilla/valid-bug, bugzilla/severity-medium, lgtm

#1300 Bug 2074044: fix mixup in source and destination client when attempting to create Rsync mutations (#1207)
  pkg/controller/directvolumemigration/rsync.go
Labels: bugzilla/valid-bug, lgtm, bugzilla/severity-low

#1303 looking for common velero pod label to find velero pods
  pkg/pods/velero.go
Labels: lgtm

#1302 Cherry-pick: removing duplicate pods in logs list and fixing bug 2062266 partially
  pkg/controller/discovery/web/plan.go
  pkg/pods/velero.go
Labels: lgtm
